---
layout: default
title: Official Site
---
<div style="display: block;text-align: center;">
  <style>
  .circle:hover {
    box-shadow: 1px 1px 5px #000;
  }
    .circle-learn:hover {
    box-shadow: 1px 1px 5px #000;
  }
  .circle {
      width: 150px;
    float: left;
    background: #FF1493;
/*     border-radius: 100px; */
    height: 150px;
    text-align: center;
    vertical-align: middle;
    padding: 27px;
    margin: 15px;
    font-size: 14px;
    color: #fff;
    font-weight: bold;
  }

    .circle-learn {
    width: 150px;
    float: left;
    background: rgba(89,125,189, 1.0);
    border-radius: 100px;
    height: 150px;
    text-align: center;
    vertical-align: middle;
    padding-top: 60px;
    margin: 15px;
    font-size: 17px;
    color: #fff;
    font-weight: bold;
  }

  
  a { outline: 0; outline: none;}
  .followers .fb_likes {
    background: transparent url(https://www.tailopez.com/controller/themes/tai-bnr-opt1/images/fb_icon.jpg) no-repeat scroll left center;
    float: left;
    margin: 10px 0 10px 10px;
    padding: 10px 10px 10px 40px;
    width: 140px;
  }
  .followers .members {
    background: url(https://www.tailopez.com/controller/themes/tai-bnr-opt1/images/icon_members.jpg) no-repeat left center;
    padding: 10px 10px 10px 40px;
    float: left;
    margin: 10px 18px;
    width: 90px;
  }
  .followers .tweet_follow {
    background: transparent url(https://www.tailopez.com/controller/themes/tai-bnr-opt1/images/tweet_icon.jpg) no-repeat scroll left center;
    float: left;
    margin: 10px 0 10px 10px;
    padding: 10px 10px 10px 40px;
    width: 120px;
  }
  .followers .instagram {
    background: transparent url(https://www.tailopez.com/controller/themes/tai-bnr-opt1/images/instagram.png) no-repeat scroll left center;
    float: left;
    margin: 10px 0 10px 10px;
    padding: 10px 10px 10px 40px;
    width: 120px;
  }
  .followers .youtube {
    background: transparent url(https://www.tailopez.com/controller/themes/tai-bnr-opt1/images/youtube.png) no-repeat scroll left center;
    float: left;
    margin: 10px 0 10px 10px;
    padding: 10px 10px 10px 40px;
    width: 129px;
  }
  .followers .snapchat {
    background: rgba(0,0,0,0) url(https://www.tailopez.com/controller/themes/tai-bnr-opt1/images/snapChat_img_new.png) no-repeat scroll left center/36px auto;
/*     float: left; */
    margin: 10px 0 10px 10px;
    padding: 10px 10px 10px 40px;
    width: 160px;
  }
    

@media all and (max-width: 760x) {
  .circle {
    margin-left: 30px;
  }
  .circle-learn { 
    margin-left: 30px;
  }
}
@media all and (max-width: 680px) {
  .circle {
    margin-left: 70px;
  }
  .circle-learn { 
    margin-left: 70px;
  }
  .followers { 
    width: 400px; 
  }
}
    
@media all and (max-width: 500px) {
  .circle {
    margin-left: 70px;
  }
  .circle-learn { 
    margin-left: 70px;
  }
  .followers { width: 270px; }
  .members { width: 100% !important; margin-top: 30px;  }
  .fb_likes { width: 100% !important; }
  .tweet_follow { width: 100% !important; }
  .instagram { width: 100% !important; }
  .youtube { width: 100% !important; }
  .snapchat { width: 100% !important; margin-bottom: 30px; }
}
</style>

{% include header.html %}

  <center>
    
    <img src="https://github.com/dainmiller/dainmiller.github.io/raw/master/spotify-podcast-badge-blk-grn-330x80.png" />
    
    <script async data-uid="0431310c35" src="https://upbeat-trader-7968.ck.page/0431310c35/index.js"></script>
    <br />
<h3>How I can help you...</h3>
<p style="    font-size: 12px;
    font-style: italic;">I've done all these over and over for myself, clients, and other businesses - now I want to help you.</p>
  
<div class="container">
<div class="row">
<a href="http://webdevcoaching.weebly.com/" target="_blank"><div class="circle">
  Learn to code
  </div></a>

<a href="http://webdevcoaching.weebly.com/" target="_blank"><div class="circle">
  Become a web developer
  </div></a>

  <a href="https://startheresocial.weebly.com/" target="_blank"><div class="circle">
  Get more customers with digital marketing
  </div></a>
  
<a href="https://startherebusiness.weebly.com/" target="_blank"><div class="circle">
  Build an app that earns 1 million+ per year
  </div></a>
</div>

<div class="row">
<a href="https://startherebusiness.weebly.com/" target="_blank"><div class="circle">
  Build & scale a multi-million dollar business remotely
  </div></a>

<a href="https://startherebusiness.weebly.com/" target="_blank"><div class="circle">
  Fix your toxic company culture & processes
  </div></a>

<a href="https://dainmillercoaching.weebly.com/" target="_blank"><div class="circle">
  Build a personal brand with a million+ audience
  </div></a>
  
  <a href="https://dainmillercoaching.weebly.com/" target="_blank"><div class="circle">
  Build a world-famous podcast
  </div></a>
  </div>
</div>

  </center>
  
<div class="clearfix" style="clear: both; overflow: hidden; display: block;"></div>

  <center>
<div class="followers" xmlns="http://www.w3.org/1999/html">
<div class="container">
<div class="row">
<div class="members">
<span>1,500+</span> Members
</div>
<div class="fb_likes">
<a href="https://www.facebook.com/dainmillerofficial" target="_blank">
<span>150+</span> Page Likes
</a>
</div>
<div class="tweet_follow">
<a href="https://twitter.com/dainmiller/" target="_blank">
<span>5,000+</span> Followers
</a>
</div>
<div class="instagram">
<a href="https://www.instagram.com/dainmiller/?ref=badge" target="_blank">
<span>4,000+</span> Followers
</a>
</div>
<div class="youtube">
<a href="https://www.youtube.com/startherefm" target="_blank">
<span>8,800+</span> Subscribers
</a>
</div>
<div class="clearfix" style="clear: both; overflow: hidden; display: block;"></div>
<div class="snapchat">
<a href="https://www.snapchat.com/add/dainmiller" target="_blank">
<span>Click</span> to View
</a>
</div>
</div>
</div>
</div>
</center>
<div class="clearfix" style="clear: both; overflow: hidden; display: block;"></div>
<center>
<h3>How do you like to learn?</h3>
<p style="    font-size: 12px;
    font-style: italic;">I've made educational content in different formats to help you.</p>
  
<div class="container">
<div class="row">
<a href="http://www.youtube.com/startherefm" target="_blank"><div class="circle-learn">
  Video
  </div></a>
  
<a href="http://www.soundcloud.com/starthere-webdev" target="_blank"><div class="circle-learn">
Audio
</div></a>
  
<a href="https://www.dainmiller.ml/books/" target="_blank"><div class="circle-learn">
Reading/Writing
</div></a>
  
  <a href="https://webdevcoaching.weebly.com" target="_blank"><div class="circle-learn">
Kinesthetic 
</div></a>
  </div></div>

<div class="clearfix" style="clear: both; overflow: hidden; display: block;"></div>
</center>
  
  <hr />
  <div class="clearfix" style="clear: both; overflow: hidden; display: block;"></div>
  
<div id="archive">
  <h2>Articles</h2>
  <br />
{% for post in site.posts limit: 10 %}
<ul>
  <li {% if post.favorite and post.layout != "writeup" %}class="favorite"{% endif %}>
    <a href="{{ post.url }}">{{ post.title }}{% if post.layout == "writeup" %} (Book Writeup){% endif %}</a>
  </li>
  {% if forloop.last %}</ul>{% endif %}
</ul>
{% endfor %}
</div>
<div class="clearfix" style="clear: both; overflow: hidden; display: block;"></div>

  
<hr/>

{% include fine-print.html %}
