<footer style="margin-top: 10px;">
  <div id="bio">
    <div id="bio-image">
      <img src="https://spark.adobe.com/page/OsJqk/avatar.jpg?asset_id=4efca950-e512-4276-9b51-957949373484&img_etag=b10ac44bbe2b53a4f8721e99438ff55e&size=200" alt="Matt Swanson">
    </div>
    
    <div id="bio-text">
      <p>Hi. I'm <b>Dain Miller</b>.</p>
      <p>I write about the most important topics here, and I link to the projects I'm workin on! Stay up to date for all the latest info by subscribing to our RSS feed.</p>
      
      <div id="bio-social">
        {% include social.html %}
      </div>
    </div>
  </div>

  {% unless page.skip_related %}
  <aside>
    <h3>Further reading</h3>
    <ul class="posts">
      {% if page.tags %}
        {% assign sn = page.tags.first %}
        {% for post in site.tags[sn] limit:3 %}
          {% unless page.title == post.title %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endunless %}
        {% endfor %}
      {% else %}
        {% for post in site.related_posts limit:3 %}
          {% unless page.title == post.title %}
            <li><a href="{{ post.url }}">{{ post.title }}</a></li>
          {% endunless %}
        {% endfor %}
      {% endif %}
    </ul>
  </aside>
  {% endunless %}
</footer>

{% include fine-print.html %}
